<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/detail.css' />

    <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
rel="stylesheet"
/>

    <title>Document</title>
</head>
<body>

    <div class="container ">
        <div class="left">
            <img src="/images/poissin.png" alt="">
        </div>
        <div class="right">
            <h1>Titreff,</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam fuga, dignissimos 
                expedita, accusamus molestiae repellat officiis dolore nihil aliquid quaerat cupiditate
                 porro similique odit eveniet necessitatibus velit. Fuga, ab nobis. Voluptatem dignissimos 
                 mollitia omnis recusandae placeat similique ipsum sint qui, voluptatibus odit dolorum nisi
                  rem esse a rerum sed distinctio ad beatae laudantium? Voluptas tempore dolore exercitationem 
                  saepe cupiditate officiis inventore odio velit, distinctio sequi reiciendis doloribus excepturi,
                   dolor facilis ipsum, dignissimos dolorum! Quia quam in accusantium nostrum. Blanditiis aperiam, 
                   cum iure libero assumenda earum aspernatur, ducimus expedita nam culpa sit dignissimos dolorum 
                   dolor eos sunt. Quas vero delectus adipisci.
            </p>
            <a href="/login" class="btn btn-success">Commander</a>
        </div>

    </div>
    


    <script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"
></script>
</body>
</html>
